/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,300);

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  box-sizing: border-box;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

#screen {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#stage {
  margin-top: 30vh;
  color: #fff;
}

.word-container {
  margin: 10px;
}

.article, .word {
  display: inline-block;
  vertical-align: baseline;
}

.article {
  position: relative;
  top: -5px;
  margin: 0 10px 0 -15px;
  color: #ccc;
  font-size: 200%;
  font-weight: 300;
}

.word {
  font-size: 500%;
}

.gloss {
  margin-top: 50px;
  color: #ccc;
}

#controls {
  margin: 80px auto;
  padding: 10px 0px 0px 10px;
}

.fa {
  width: 60px;
  margin: 5px;
  padding: 5px;
  color: #333;
  text-decoration: none;
}

.indicator {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 30px;
  top: -5px;
  color: #333;
  font-family: 'Arial';
  font-weight: bold;
}

.loops {
  margin-left: -10px;
  margin-right: -11px;
}

.interval {
  margin-left: -7px;
  margin-right: -14px;
}

#controls i:hover {
  color: #aaa;
}

#controls i:active {
  color: #ddd;
}

.history {
  position: relative;
  top: 1px;
}

.list {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 320px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
  transition: transform .2s;
  -webkit-transition: -webkit-transform .2s; /* Safari */
  transform: translateX(-320px);
  -webkit-transform: translateX(-320px); /* Safari */
  background-color: rgba(127, 127, 127, .2);
  padding-right: 8px;
}

::-webkit-scrollbar {
  width: 0;
}

.list.active {
  transform: translateX(0);
  -webkit-transform: translateX(0); /* Safari */
}

.list-line {
  direction: ltr;
  float: right;
  height: 40px;
  color: #ccc;
}

.line-text:hover, .line-toggle:hover {
  color: #ff0066;
}

.line-text.skipped {
  color: #333;
}

.line-text {
  float: inherit;
  width: 248px;
  height: 40px;
  right: 40px;
  color: inherit;
  font-size: 20px;
  font-weight: 300;
  text-align: right;
  overflow: hidden; /* truncating text */
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 7px 12px 0px 14px;
}

.line-toggle {
  float: inherit;
  /* Use relative-absolute positioning instead */
  width: 40px;
  height: 40px;
}

.line-toggle i {
  color: inherit;
  width: 30px;
  margin: 12px auto;
  padding: 0;
}

.mask {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  background-color: #000;
  transition: opacity .2s, width 0s .2s, height 0s .2s;
}

.mask.active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity .2s;
}