/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,300);

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

#screen {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  padding: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.stage {
  margin-top: 30vh;
  color: #fff;
}

.word-container {
  margin: 10px;
}

#article {
  font-weight: 300;
  margin: 0 10px 0 -15px;
  position: relative;
  top: -5px;
  color: #ccc;
  font-size: 200%;
}

#article, .word {
  display: inline-block;
  vertical-align: baseline;
}

.word {
  font-size: 500%;
}

.gloss {
  margin-top: 50px;
  color: #ccc;
}

.controls {
  margin: 80px auto;
  padding: 10px 0px 0px 14px;
}

.controls i {
  display: inline-block;
  width: 60px;
  margin: 5px;
  padding: 5px;
  /*border-radius: 3px;*/
  color: #333;
  text-decoration: none;
}

.indicator {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 30px;
  top: -5px;
  color: #333;
  font-family: 'Arial';
  font-weight: bold;
}

.loops {
  margin-left: -10px;
  margin-right: -11px;
}

.interval {
  margin-left: -7px;
  margin-right: -14px;
}

.controls i:hover {
  color: #aaa;
}

.controls i:active {
  color: #ddd;
}